bin/
obj/
.vs/
.idea/
.vscode/
node_modules/
dist/
coverage/
TestResults/
.tmp/
RuntimeData/
src/TemplarCMS.Api/App_Data/
src/TemplarCMS.Api/RuntimeData/
src/TemplarCMS.Admin/templarcms.admin.client/.certs/
*.user
*.suo
*.db
